/* External Style Sheet for farmers-gatherers.html page
   Author:  Sadie Sturgeon
   Date: 	05/08/2020
*/
section {
    padding-bottom: 2em;
}
h3 {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
}
table {
    width: 100%;
    padding: 2px;
}
div.sourcesTables { /* table scrolls horizontally when is too large to fit screen */
    overflow-x: auto;
    box-shadow: 4px 4px 10px 4px silver;
}
th, td {
    padding: 1em;
    font-family: Ideal Sans, sans-serif;
    font-size: 1em;
}
th {
    background-color: #424242; /* dark grey */
    color: white;
    font-weight: normal;
    letter-spacing: .15em;
}
section p {
    padding-top: .5em;
}
img#smallBrookie {
    width: 20%;
    display: block;
    margin: 0 auto;
    margin-top: 1em;
}
