/* External Style Sheet for farmers-gatherers.html, index.html,
   info-contact.html, and reservations.html pages
   Author:  Sadie Sturgeon
   Date: 	05/08/2020
*/

/* html */
a {
    text-decoration: none; /* removes underlines from links */
    color: #424242; /* dark grey */
}
a:hover {
    color: #000000; /* black when hovered over */
}
html {
    font-family: sans-serif;
    font-size: 1em;
    color: #424242; /* dark grey */
}

/* Body */
body {
    margin: 8px;
}



/* Header for Desktop */
header {
    width: 100%;
    font-size: 1em;
}
header img { /* Brookie Watercolor */
    width: 40%;
    display: block;
    margin: 0 auto;
}
h1 {
    font-family: "Hoefler Text", "Baskerville Old Face", Garamond, "Times New Roman", serif;
    font-weight: 700;
    font-size: 3em;
    letter-spacing: 2px;
    text-align: center;
    margin: .67em auto;
}

/* Nav Bar for Desktop */
header ul {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    list-style-type: none; /* removes bullets */
    margin: 0;
    padding: 0;
    text-align: center; /* centers nav bar */
}
header ul li {
    display: inline; /* makes horizontal */
}
header ul li a {
    padding: .75em;
}
/* darkens nav link being hovered over while lightening all other nav links */
nav:hover li a {
    color: #9e9e9e; /* light grey */
}
nav li:hover a:hover {
    color: #000000; /* black */
}



/* Main for Desktop */
main {
    width: 40%;
    margin: 4em auto;
}
h2 {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 2em;
    text-align: center;
}
p {
    font-family: Ideal Sans, sans-serif;
    line-height: 1.25em;
}



/* Footer for Desktop */
footer {
    width: 100%;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    padding: 1em 0; /* padding on top and bottom */
}
footer div {
    padding: .25em 0; /* padding on top and bottom */
    text-align: center;
}



/* Media Queries */

/* when viewport is less than or equal to 80em:
    - reduces margin on main */
@media screen and (max-width: 80em) {

    main {
        width: 55%; /* expands for a smaller window */
    }
}



/* when viewport is less than or equal to 40em:
    - reduces heading sizes
    - adds or reduces margins or padding
    - increases the size of links to be more "finger friendly" */
@media screen and (max-width: 40em) {

    body {
        margin: 0; /* changes from 8px */
        background-color: #edf1f3; /* very light blue */
    }



    /* Header for Mobile */
    header img { /* Brookie Watercolor */
        margin: .5em auto 0 auto; /* changes from 0 auto; because body margin switches
                                        to 0; adds spacing between image and top of screen */
    }
    h1 { /* "Brookie" title */
        margin: .33em auto; /* changes from .67em */
    }
    h2 {
        font-size: 1.5em; /* changes from 2em; */
    }
    header ul {
        padding-bottom: .25em;
    }
    header ul li {
        display: block; /* switches to vertical */
        padding: .5em; /* creates spaces between nav links */
    }
    header ul li a {
        text-shadow: .2em .2em .3em silver;
        padding: .5em 2em .5em 2em; /* changes from .75em. Shrinks link height slightly to account for smaller screen,
                                        but increases width around nav links to be more finger friendly */
    }



    /* Main for Mobile */
    main {
        width: 90%; /* changed from 40em & 55em. Creates border around main because body margin is now 0     */
        margin: 2em auto; /* changed from 4em auto; */
    }



    /* Footer for Mobile */
    footer {
        background-color: #dbe3e7; /*#dfeaee; /* light blue */
    }
    footer div {
        padding: .5em; /* changed from .25em 0; */
    }
    footer div a {
        padding: .5em 2em .5em 2em; /* expands to be more finger friendly */
    }
}
